/* youtube */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
    width: 80%;
    height: 80%;
}

/* body dll */
body {
	font-family: 'Poppins', sans-serif;
}
.container p{
	text-align: justify;
	font-size: 20px;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
header .carousel-inner .item {
	height: 109vh;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 900;
}
.nav.navbar-nav.navbar-right {
	margin: 25px 0;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
.carousel-caption {
	padding-bottom: 45vh;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #EDBB00;
}
.carousel-caption a {
	background: #EDBB00;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
.footer{
	background-color: black;
	text-align: center;
	color: #fff;
	padding-top: 2%;
	padding-bottom: 2%;
}
.display {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 275px;
	height: 275px;
}
/* Slider */

.itemslider{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}

.box{
	width:330px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 320px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 306px;
	height: 315px;
	font-family: calibri;
}
.details p{
	font-weight: bold;
	color:#6a6a74;
	text-align: justify;

}
#genremovies{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover #genremovies{
	color:#c0292b;
	transition: all ease 0.5s;
}

#genremusics{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.box:hover #genremusics{
	color:#36c029;
	transition: all ease 0.5s;
}
#genrebooks{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.box:hover #genrebooks{
	color:#297cc0;
	transition: all ease 0.5s;
}
.tengah{
	padding-top: 10%;
}
.midmed{
	padding-top: 20%;
	padding-bottom: 20%;
	padding-right: 20%;
	padding-left: 20%;
}
.container-kontent{
	padding-top: 8%;
}
.lSPrev {
	color:black;
}
/* testIMONIES */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: none;
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/*responsive mobile tab and phone*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.box{
		width: 300px;
		height: 500px;
	}
	.model{
		height:320px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	.container-kontent h1{
		text-align: center;
	}
	.container-kontent h3{
		text-align: center;
	}
	.container-kontent p{
		text-align: justify;
	}
	.carousel-caption {
		padding-bottom: 45vh;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
	header .carousel-inner .item {
		height: 100vh;
	}
	.video-container iframe {
		position: absolute;
		top: 20%;
		bottom: 10%;
		left: 10%;
		right: 10%;
		width: 80%;
		height: 80%;
	}
}
@media only screen and (max-width: 767px) {
	.box{
		width: 280px;
		height: 500px;
	}
	.model{
		height:320px;
	}
	.details{
		width: 306px;
		height: 315px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	.h1{
		text-align: center;
	}
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 40vh;
	}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
	header .carousel-inner .item {
		height: 100vh;
	}
	.video-container iframe {
		position: absolute;
		top: 30%;
		bottom: 10%;
		left: 10%;
		right: 10%;
		width: 80%;
		height: 70%;
	}
	.container-kontent h1{
		text-align: center;
	}
	.container-kontent h3{
		text-align: center;
	}
	.container-kontent p{
		text-align: justify;
	}
}